.login-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20rem;
  width: 20rem;
  padding: 2rem;
}

.login-container {
  display: flex;
  justify-content: center;
}

.login-container form input {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
